*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.container{
    width: 80vw;
    max-width: 600px;
    min-height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.contenedorBotones{
    padding: 20px;
}

#cronometro{
    width: 100%;
    font-size: 200%;
    font-weight: bold;
    color: white;
    user-select: none;
    font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#boton-inicio-pausa.iniciar,
#boton-inicio-pausa.iniciar i{
    background-color: #13fb13 ;
}
#boton-inicio-pausa.pausar,
#boton-inicio-pausa.pausar i{
   background-color: #ff0000;
}

#boton-reiniciar{
    background-color: #d9ec0b;
}

.boton{
    width: 80px;
    height: 80px;
    margin: 10px;
    padding: 10px;
}
